.cv-container{
    border: 1px solid blue;
    width: 95vw;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
}

.left{
    background-color: #dfd3c8;
    width: 35%;
    padding:3% 2% 3% 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left > .cover-img{
    width: 80px;
    border-radius: 999px;
}

.left > div{
    margin: 10% 0;
}

.right{
    background-color: #ffffff;
    width: 75%;
}

@media (min-width: 640px){
    .cv-container{
        width: 50vw;
    }

    .left{
        width: 30%;
    }

    .cover-img{
        width: 120px;
    }

}